<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-divider uk-table-small">
        <thead>
            <div class="uk-overflow-auto">
                <tr>
                    <th class="uk-width-medium">Shippers</th>
                    <th class="uk-width-medium">ID Order</th>
                    <th class="uk-table-expand">Type of Shipper</th>
                    <th class="uk-table-expand">Current Location</th>
                    <th class="uk-width-medium">Owner</th>
                    <th class="uk-width-medium">Attached Files<a class="uk-button uk-button-primary" href="#modal-overflow" uk-toggle><span uk-icon="folder"></span></a></th>
                </tr>
            </div>
        </thead>
        {{#each orders as |order|}}
            <tbody>
                <tr>
                    <td>{{_id}}</td>
                    <td>{{user}}</td> {{!-- aqui se tiene que poder ver el name del usuario que creo la orden de este shipper --}}
                    <td>{{typeOfShipper}}</td>
                    <td>{{currentLocation}}</td>
                    <td><span id="filesFolder" uk-icon="folder"></span></td>
                    <td>
                        <a href="shipper/{{_id}}/update"><input type="submit" id="edit-user" uk-icon="icon: pencil"/></a>
                        <a href="shipper/{{_id}}/delete"><input type="submit" id="delete-user" uk-icon="icon: trash"></a>
                    </td>
                </tr>
            </tbody>
        {{/each}}
    </table>
</div>
{{!-- END of Shippers table --}}
<br>
<hr>


{{!-- Formulary modal to add files to the shipper --}}
<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Add Files related to this shipper </h2>
        </div>
        <div class="uk-modal-body" uk-overflow-auto>
            <div class="js-upload uk-placeholder uk-text-center">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                <div uk-form-custom>
                    <input type="file" multiple>
                    <span class="uk-link">selecting one</span>
                </div>
                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
            </div>
        </div>
    </div>
</div>
{{!-- END of formulary modal --}}


<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Shippers Id</h2>
{{#each shippers as |shipper|}}
<p>{{typeOfShipper}}</p>
{{/each}}
       
    </div>
</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>    
    $(document).ready(function(){
        var counter = 1
         $("#filesFolder").click(function(){
        $("#orderRow").clone().appendTo("#clonedRow"+counter);
      });
        $("#deleteRow").click(function(){
            
            if (counter>1)
        $('#clonedRow'+counter).empty();
        counter--;
      });

    });

    var bar = document.getElementById('js-progressbar');

    UIkit.upload('.js-upload', {

        url: '',
        multiple: true,

        beforeSend: function () {
            console.log('beforeSend', arguments);
        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },

        loadStart: function (e) {
            console.log('loadStart', arguments);

            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },

        progress: function (e) {
            console.log('progress', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        loadEnd: function (e) {
            console.log('loadEnd', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        completeAll: function () {
            console.log('completeAll', arguments);

            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);

            alert('Upload Completed');
        }

    });